nav {
  @include font;
  a {
    color: $nav-link-color;
    text-decoration: none;

    display: block;
    margin-bottom: $spacer-small-md;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .separator {
    @include font-bold;
    font-size: 1em;
    color: $nav-separator-color;

    margin-top: $spacer-large-sm;
    margin-bottom: $spacer-small-sm;
    @media (min-width: $bp-md) {
      margin-top: $spacer-large-md;
      margin-bottom: $spacer-small-md;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}
