// Grid only if we have support
@supports (display: grid) {
  body {
    display: grid;
    grid-template-columns:
      minmax($spacer-large-sm, 1fr)
      [padded-start] $spacer-large-sm
      [main-start] auto
      [main-end] $spacer-large-sm
      [padded-end] minmax($spacer-large-sm, 1fr);
  }
  header, nav, footer {
    grid-column: main;
  }
  main {
    grid-column: padded;
  }

  // More complicated grid on larger screens
  @media (min-width: $bp-md) {
    body {
      grid-template-columns:
        minmax($spacer-large-md, 1fr)
        [padded-start] $spacer-large-md
        [main-start] minmax(400px, 600px)
        [main-end] $spacer-large-md
        [padded-end] $spacer-small-md
        [nav-start] minmax(max-content, auto)
        [nav-end] minmax($spacer-large-md, 1fr);
    }
    nav {
      grid-column: nav;
      grid-row: 2;
    }
  }
}


// Temp styles used to
header {
  margin-top: 40px;
  background: transparentize(hotpink, .5);
  height: 200px;
}
main {
  padding: 40px;
  margin-top: 40px;
  background: transparentize(lightblue, .5);
}
nav {
  margin-top: 40px;
  background: transparentize(lime, .5);
  a {
    display: block;
  }
}
footer {
  margin-top: 15px;
  background-color: black;
  height: 200px;
}
