// Grid only if we have support
@supports (display: grid) {
  body {
    display: grid;
    grid-template-columns:
      minmax($spacer-large-sm, 1fr)
      [padded-start] $spacer-large-sm
      [main-start] auto
      [main-end] $spacer-large-sm
      [padded-end] minmax($spacer-large-sm, 1fr);
  }
  header, nav, footer {
    grid-column: main;
  }
  main {
    grid-column: padded;
  }

  // More complicated grid on larger screens
  @media (min-width: $bp-md) {
    body {
      grid-template-columns:
        minmax($spacer-large-md, 1fr)
        [padded-start] $spacer-large-md
        [main-start] minmax(400px, 600px)
        [main-end] $spacer-large-md
        [padded-end] $spacer-small-md
        [nav-start] minmax(max-content, auto)
        [nav-end] minmax($spacer-large-md, 1fr);
    }
    nav {
      grid-column: nav;
      grid-row: 2;
    }
  }
}


// Temp styles used to
header {
  margin-top: $spacer-large-sm;
}
main {
  padding: $spacer-large-sm;
  margin-top: $spacer-large-sm;
  background: $color-background-main;
}
nav {
  margin-top: $spacer-large-sm;
  a {
    display: block;
  }
}
footer {
  margin-top: $spacer-small-sm;
  background-color: black;
}
@media (min-width: $bp-md) {
  header, main, nav {
    margin-top: $spacer-large-md;
  }
  main {
    padding: $spacer-large-md;
  }
  footer {
    margin-top: $spacer-small-md;
  }
}
