@mixin header {
  font-family: $font-header;
  font-weight: 700;
  color: $color-header;
  margin: $spacer-large-md 0 0;
  &:first-child {
    margin: 0;
  }
}

h1 {
  @include header;
  font-size: 5em;
}
h2 {
  @include header;
  font-size: 3em;
}
h3 {
  @include header;
  font-size: 2em;
}
h4, h5, h6 {
  @include header;
  font-size: 2em;

  margin: 0;
  margin-top: $spacer-small-sm;
  @media (min-width: $bp-md) {
    margin-top: $spacer-small-md;
  }
  & + * {
    margin-top: 0!important;
  }
}

p {
  font-family: $font-body;
  font-weight: 400;
  font-size: 2em;
  color: $color-text;

  margin: $spacer-small-sm 0 0;
  @media (min-width: $bp-md) {
    margin: $spacer-small-md 0 0;
  }
}
