$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

$spacer-large-md: 4rem;
$spacer-small-md: 1.5rem;
$spacer-large-sm: 2rem;
$spacer-small-sm: 1rem;

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab:700|Roboto:400,700');
$roboto: 'Roboto', sans-serif;
$roboto-mono: 'Roboto Mono', monospace;
$roboto-slab: 'Roboto Slab', serif;

$font-body: $roboto;
$font-header: $roboto-slab;
$font-code: $roboto-mono;

$color-header: #34495E;
$color-text: #A89E8D;
$color-text-bold: #34495E;

$color-link: #00ADEF;
$color-emphasis: #FAF785;

$color-background-main: #F5EFE6;
