$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

$spacer-large-md: 4rem;
$spacer-small-md: 1.5rem;
$spacer-large-sm: 2rem;
$spacer-small-sm: 1rem;

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab:700|Roboto:400,700');
$roboto: 'Roboto', sans-serif;
$roboto-mono: 'Roboto Mono', monospace;
$roboto-slab: 'Roboto Slab', serif;

$font-body: $roboto;
$font-header: $roboto-slab;
$font-code: $roboto-mono;

$color-sand:        #F5EFE6;
$color-sand-dark:   #A89E8D;
$color-grey:        #DDD9D5;
$color-dark-blue:   #34495E;
$color-bright-blue: #00ADEF;
$color-yellow:      #FAF785;
$color-red:         #E74C3C;
$color-green:       #2ECC71;

$ui-bg:       white;
$ui-main-bg:  $color-sand;

$text-color:          $color-sand-dark;
$text-header-color:   $color-dark-blue;
$text-bold-color:     $color-dark-blue;
$text-link-color:     $color-bright-blue;
$text-emphasis-color: $color-yellow;
$text-code-color:     $color-dark-blue;
$text-code-bg:        $color-grey;


$color-header: #34495E;
$color-text: #A89E8D;
$color-text-bold: #34495E;

$color-link: #00ADEF;
$color-emphasis: #FAF785;

$color-background-main: #F5EFE6;
