$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

$spacer-large-md: 4rem;
$spacer-small-md: 1.5rem;
$spacer-large-sm: 2rem;
$spacer-small-sm: 1rem;

$font-body: $roboto;
$font-header: $roboto-slab;

$color-header: #34495E;
$color-text: #A89E8D;

$color-background-main: #F5EFE6;
