// First, reset the root-em size (rem)
html, :root {
  font-size: 10px;
}

@import "normalize";
@import "variables";

@import "layout";

body {
  font-size: 2rem;
  @import "text";

  @import "components/color-swatches";
}

*:focus {
  outline-offset: 1px;
  outline: 2px dashed $color-dark-blue;
}
