button, button[type="button"] {
  appearance: none;
  background: none;

  cursor: pointer;

  @include font;
  color: $button-text;
  line-height: 1;

  padding: .5em 1em;
  border: .1em solid $button-border;
  border-radius: .125em;

  &.button-solid {
    @include font-bold;
    color: $button-solid-text;
    background: $button-solid-bg;
  }

  &.button-primary {
    border-color: $button-primary-color;
    &:not(.button-solid) {
      color: $button-primary-color;
    }
    &.button-solid {
      background: $button-primary-color;
    }
  }
  &.button-success {
    border-color: $button-success-color;
    &:not(.button-solid) {
      color: $button-success-color;
    }
    &.button-solid {
      background: $button-success-color;
    }
  }
  &.button-danger {
    border-color: $button-danger-color;
    &:not(.button-solid) {
      color: $button-danger-color;
    }
    &.button-solid {
      background: $button-danger-color;
    }
  }
  &[disabled] {
    cursor: default;
    border-color: $button-disabled-color;
    &:not(.button-solid) {
      color: $button-disabled-color;
    }
    &.button-solid {
      background: $button-disabled-color;
    }
  }
}
