form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $spacer-small-sm;
  
  @media (min-width: $bp-md) {
    grid-template-columns: 1fr 1fr;
    grid-gap: $spacer-small-md;
    .double {
      grid-column: span 2;
    }
  }
}
