img {
  width: 100%;

  margin-top: $spacer-small-sm;
  @media (min-width: $bp-md) {
    margin-top: $spacer-small-md;
  }
}

.image-container {
  margin-top: $spacer-large-sm;
  @media (min-width: $bp-md) {
    margin-top: $spacer-large-md;
  }
  & + * {
    margin-top: $spacer-large-sm;
    @media (min-width: $bp-md) {
      margin-top: $spacer-large-md;
    }
  }

  img:first-child {
    margin-top: 0;
  }

  @supports (display: grid) {
    @media (min-width: $bp-md) {
      display: grid;
      img {
        margin: 0;
      }
      grid-template-columns: 1fr 1fr;
      grid-gap: $spacer-small-md;
    }
  }
}
