.input-group {
  font-size: 1em;
  border: 1px solid $input-border;

  position: relative;

  input {
    font-size: 1em;
    @include font;
    color: $input-text;
    line-height: 1;

    box-sizing: border-box;
    width: 100%;
    padding: 1.25em .5em .5em .75em;

    appearance: none;
    margin: 0;
    border: none;
    background: inherit;

    &:focus {
      outline: none;
      background: $input-active-bg;
    }
  }

  label {
    position: absolute;
    top: 0;

    padding: 1em;

    @include font;
    font-size: .5em;
    color: $input-label;
    line-height: 1;
  }
  label:not(.tooltip) {
    text-transform: uppercase;
    left: 0;
  }
  label.tooltip {
    display: none;
    padding-right: 0;
    right: 0;

    align-items: center;
    &:after {
      content: '';
      margin-left: .5em;

      border-top: .5em solid transparent;
      border-bottom: .5em solid transparent;
      border-right: .5em solid currentColor;
    }
  }

  input:not(:valid):not(:focus) + label:not(.tooltip) {
    font-size: 1em;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 .5em;
  }

  &:hover label.tooltip {
    display: flex;
  }
}
